# Assignment 1

In [21]:

name = input("Enter your name")
age = int(input("enter your age"))
work = input("Enter where you work")
skills = input("What your skills Seperated by commaa's").split(",")
degree = input("Whats your degree title major and completionData seperated by commas").split(",")
salery = int(input("enter your salery"))
name1 = input("Enter your name")
age1 = int(input("enter your age"))
work1 = input("Enter where you work")
skills1 = input("What your skills Seperated by commaa's").split(",")
degree1 = input("Whats your degree title major and completionData seperated by commas").split(",")
salery1 = int(input("enter your salery"))
name2 = input("Enter your name")
age2 = int(input("enter your age"))
work2 = input("Enter where you work")
skills2 = input("What your skills Seperated by commaa's").split(",")
degree2= input("Whats your degree title major and completionData seperated by commas").split(",")
salery2 = int(input("enter your salery"))
lis = [
    {"name" : name,
     "age"  : age,
     "work" : work,
     "skills" : skills,
     "degree" : {"title" : degree[0], "major" : degree[1], "completionDate" : degree[2]},
     "salary" : salery
},
    {"name" : name1,
     "age"  : age1,
     "work" : work1,
     "skills" : skills1,
     "degree" : {"title" : degree1[0], "major" : degree1[1], "completionDate" : degree1[2]},
     "salary" : salery1
},
    {"name" : name2,
     "age"  : age2,
     "work" : work2,
     "skills" : skills2,
     "degree" : {"title" : degree2[0], "major" : degree2[1], "completionDate" : degree2[2]},
     "salary" : salery2
}
]
lis

Enter your nameafnan
enter your age12
Enter where you workai,ai
What your skills Seperated by commaa'sai,ai
Whats your degree title major and completionData seperated by commasai,ai,ai
enter your salery12
Enter your nameafna
enter your age22
Enter where you workasd
What your skills Seperated by commaa'sasdasd
Whats your degree title major and completionData seperated by commasasd,asdas,sada
enter your salery12
Enter your nameasd
enter your age12
Enter where you workasd
What your skills Seperated by commaa'sasd,asd,asd
Whats your degree title major and completionData seperated by commasasd,asd,asd
enter your salery123

[{'name': 'afnan',
  'age': 12,
  'work': 'ai,ai',
  'skills': ['ai', 'ai'],
  'degree': {'title': 'ai', 'major': 'ai', 'completionDate': 'ai'},
  'salary': 12},
 {'name': 'afna',
  'age': 22,
  'work': 'asd',
  'skills': ['asdasd'],
  'degree': {'title': 'asd', 'major': 'asdas', 'completionDate': 'sada'},
  'salary': 12},
 {'name': 'asd',
  'age': 12,
  'work': 'asd',
  'skills': ['asd', 'asd', 'asd'],
  'degree': {'title': 'asd', 'major': 'asd', 'completionDate': 'asd'},
  'salary': 123}]

# Assignment 2

In [1]:
num1,num2 = input("Enter the number seperated by comma ").split(",")
num1 = int(num1)
num2 = int(num2)

Enter the number seperated by comma 5,10

In [2]:
for i in range(num1,num2+1):
    standard_counting = 1
    for j in range(10):
        print(f"{standard_counting} x {i} = {standard_counting*i}")
        standard_counting+=1
    print("")

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

In [11]:
standard_counting=1
for i in range(10):
    for j in range(num1,num2+1):
        print(f"{j} x {standard_counting} = {num1*standard_counting}",end='\t')
    standard_counting+=1
    print("")

5 x 1 = 5	6 x 1 = 5	7 x 1 = 5	8 x 1 = 5	9 x 1 = 5	10 x 1 = 5
5 x 2 = 10	6 x 2 = 10	7 x 2 = 10	8 x 2 = 10	9 x 2 = 10	10 x 2 = 10
5 x 3 = 15	6 x 3 = 15	7 x 3 = 15	8 x 3 = 15	9 x 3 = 15	10 x 3 = 15
5 x 4 = 20	6 x 4 = 20	7 x 4 = 20	8 x 4 = 20	9 x 4 = 20	10 x 4 = 20
5 x 5 = 25	6 x 5 = 25	7 x 5 = 25	8 x 5 = 25	9 x 5 = 25	10 x 5 = 25
5 x 6 = 30	6 x 6 = 30	7 x 6 = 30	8 x 6 = 30	9 x 6 = 30	10 x 6 = 30
5 x 7 = 35	6 x 7 = 35	7 x 7 = 35	8 x 7 = 35	9 x 7 = 35	10 x 7 = 35
5 x 8 = 40	6 x 8 = 40	7 x 8 = 40	8 x 8 = 40	9 x 8 = 40	10 x 8 = 40
5 x 9 = 45	6 x 9 = 45	7 x 9 = 45	8 x 9 = 45	9 x 9 = 45	10 x 9 = 45
5 x 10 = 50	6 x 10 = 50	7 x 10 = 50	8 x 10 = 50	9 x 10 = 50	10 x 10 = 50