In [5]:
employee_data = ['Ali', 125000, 'Google', 5]
print(f"{employee_data[0]} is working in {employee_data[2]} for {employee_data[3]} years And his salery is {employee_data[1]}")

Ali is working in Google for 5 years And his salery is 125000

In [6]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,
				'28 Januray 2020', '05 February 2020']

In [8]:
print(f"'Hello {studentData[0]} {studentData[1]},\nYour application is accepted for admission in {studentData[4]} {studentData[3]} in {studentData[2]}.")
print(f"you have to submit fee {studentData[-3]} before {studentData[-2]}")
print(f"your classes will be start from {studentData[-1]}")
print("thanks'")

'Hello Ahmed Bilal,
Your application is accepted for admission in BS Computer Science in Government College University.
you have to submit fee 50000 before 28 Januray 2020
your classes will be start from 05 February 2020
thanks'

# Slicing

In [9]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

In [10]:
print(cities[:4])

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']

In [12]:
print(cities[2:6])

['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']

In [13]:
print(cities[5:])

['Sahiwal', 'Rawalpindi', 'Sialkot']

Negative Slicing

In [16]:
print(cities[-4:-1])

['Quetta', 'Sahiwal', 'Rawalpindi']

In [17]:
print(cities[-5:])

['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# Update List

In [18]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

In [20]:
studentData.append('20 February 2019')
studentData.append(8)

In [24]:
studentData.insert(4,25000)
studentData.insert(1,'M.iqbal')

In [25]:
studentData

['Ali Raza',
 'M.iqbal',
 'M.iqbal',
 22,
 91.24,
 25000,
 'Computer Science',
 5,
 'University of Agriculture',
 '20 February 2019',
 8,
 4,
 4,
 4]

In [26]:
studentData[0]='Zohaib Ali'
studentData[7]=7

In [27]:
studentData.remove('Computer Science')
studentData.remove(91.24)

In [28]:
studentData.pop()
studentData.pop(3)

22

# Multidimensional List

In [47]:
employeeData = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]

In [48]:
j = 0
for i in employeeData:
    a=i[1]
    j+=a
    if i[1]>50000:
        print(i[0])
print(f'Total salery is: {j}')

Talha
Nasir
Total salery is: 213000

In [49]:
employeeData[2][1]=90000
employeeData[2][2]='Product manager'
employeeData[3][1]=50000

# Login User

In [53]:
# Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = False

In [63]:
if username == "faizan1214" and password == 'qwerty':
    if emailVerified:
        print('login succeed')
    else:
        print('email not verified ')

email not verified

In [64]:
username = "faizan1214"
password = "qwerty"
emailVerified = True
if username == "faizan1214" and password == 'qwerty':
    if emailVerified:
        print('login succeed')
    else:
        print('email not verified ')

login succeed